@page
@model LoginModel

@{
    ViewData["Title"] = "Login de Usuário";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <!-- Card azul envolvendo o formulário -->
        <div class="card border-primary mb-3">
            <h1 class="card-header bg-primary text-white">Login</h1>
            <div class="card-body">
                <form id="account" method="post">
                    <h2 class="card-title">Acesse a sua conta.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <!-- Campo de Login -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Login" class="form-control" aria-required="true" placeholder="Digite seu login" />
                        <label asp-for="Input.Login" class="form-label">Login</label>
                        <span asp-validation-for="Input.Login" class="text-danger"></span>
                    </div>

                    <!-- Campo de Senha -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Digite sua senha" />
                        <label asp-for="Input.Password" class="form-label">Senha</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <!-- Lembrar-me -->
                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            Lembrar-me
                        </label>
                    </div>


                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Entrar</button>
                    </div>
                    <div>
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu a senha?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar um novo usuário</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar email de confirmação</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
