@page
@model RegisterModel
@{
    ViewData["Title"] = "Cadastro de Usuário";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <!-- Centralizar o card -->
        <!-- Card azul envolvendo o formulário -->
        <div class="card border-primary mb-3">
            <h1 class="card-header bg-primary text-white">Cadastro</h1>
            <div class="card-body">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2 class="card-title">Crie uma nova conta.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <!-- Nome Completo -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.FullName" class="form-control" aria-required="true" placeholder="Digite seu nome completo" />
                        <label asp-for="Input.FullName">Nome Completo</label>
                        <span asp-validation-for="Input.FullName" class="text-danger"></span>
                    </div>

                    <!-- Login -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Login" class="form-control" aria-required="true" placeholder="Digite seu login" />
                        <label asp-for="Input.Login">Login</label>
                        <span asp-validation-for="Input.Login" class="text-danger"></span>
                    </div>

                    <!-- Senha -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Digite sua senha" />
                        <label asp-for="Input.Password">Senha</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <!-- Confirmar Senha -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirme sua senha" />
                        <label asp-for="Input.ConfirmPassword">Confirmar Senha</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
