<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - web_clima</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        /* Adicione um estilo personalizado para o card roxo */
        .bg-purple {
            background-color: #6f42c1; /* Cor roxa */
        }
    </style>
</head>
<body class="bg-img">
    <header class="border-top header fixed-top">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- Card roxo com texto branco -->
                <div class="card-title bg-purple rounded-1" style="padding: 1vh">
                    <!-- Verifica se o usuário está autenticado -->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <!-- Se o usuário estiver logado, redireciona para o Dashboard -->
                        <a class="text-decoration-none text-center text-white" asp-area="" asp-controller="Dashboard" asp-action="Index">WebClima</a>
                    }
                    else
                    {
                        <!-- Se não estiver logado, redireciona para a página Home -->
                        <a class="text-decoration-none text-center text-white" asp-area="" asp-controller="Home" asp-action="Index">WebClima</a>
                    }
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <!-- Adicione a classe ms-auto para alinhar à direita -->
                    <div class="ms-auto">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer fixed-bottom">
        <p class="text-center text-muted">&copy; 2024 - WebClima - <a class="nav-link" style="display: inline; padding: 0" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>