@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>
        Faça <a class="text-decoration-none" asp-area="Identity" asp-page="/Account/Login">Login</a> ou
        <a class="text-decoration-none" asp-area="Identity" asp-page="/Account/Register">Registre-se</a>
        para acessar o sistema.
    </p>
</div>
